
 :root{
    font-size: 16px;
 }


.animate__animated.animate__shakeY {
    --animate-duration: 30s;
    animation-iteration-count: infinite;
}


body{
    background-color: #5f55de;
    background-image: linear-gradient( #5f55de, #001356);
    /* box-sizing: content-box; */
    /* min-height: 100vh; */
    /* width: 100%; */
    /* position: relative; */
}


main > * {
    padding: 1.25rem;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 0.75rem;
    position: relative;
    z-index: 1;
    transition:  all .5s;
    border: 1px solid transparent;
}
main > *:hover {

    border: 1px solid #f7e6ff;
}

.animation-nube {
    animation: floating infinite 30s alternate
}

@keyframes floating {
    0%{
        transform: translateY(0%);
    }
    50% {
        transform: translate(30%, 1%);
    }
    100%{
        transform: translateY(5%);
    }
}

.gradiantText{
    background: linear-gradient(to right,#DA22FF, #36156b);
    background-clip: text;
    color: transparent;
}

.btn-grad {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    /* margin: 10px;
    padding: 10px 20px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 20px 20px #302b2b88; */
    border-radius: 10px;
    /* display: block; */
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}